body {
  color: black;
  padding: 30px;
  margin: 10px;
}

.name-info {
  text-align: center;
  color: black;
  background-color: #E6EBE0; 
  padding: 30px;
}

h1 {
  font-family: Century Gothic;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 15px;
  font-family: Century Gothic;
}

h3 {
  font-family: Century Gothic, serif;
  font-style: normal;
  font-size: 25px;
}

h4 {
  font-family: Century Gothic, sans-serif;
  font-style: normal;
  font-size: 15px;
  color: #06908F;
}

h5 {
  font-family: Century Gothic, sans-serif;
  font-style: normal;
}

p {
  font-family: Century Gothic, sans-serif;
  text-align: left;
  word-break: break-word;
}

ul {
  font-family: Century Gothic, sans-serif;
}

.exp-header {
  text-align: left;
  background-color: #E6EBE0;
  padding: 30px;
}
