body {
    margin: 0;
    padding: 0;
}

.container {
  position: relative;
  padding: 50px;
  width: 800px;
  height: auto;
  margin: 100px auto;
  background: #FEF9EF  
    
}

.lines {
  margin: auto;
  width: auto;
  height: 2px;
  postion: absolute;
  background: #000000;
  border-top: 9px double #FEF9EF;
}

.container h1 {
  font-family: century gothic;
  font-size: 40px;
  text-align: center;
  color: #06908F;
}

.container h2 {
  font-family: century gothic, sans-serif;
  font-size: 20px;
  font-weight: 10;
  text-align: center;
  line-height: 8px;
}

.container h3 {
  font-family: century gothic, serif;
  font-size: 25px;
}

.container h4 {
  font-family: century gothic, sans-serif;
  font-size: 16px;
  color: #06908F;
  line-height: 18px;
}

.container h5 {
  font-family: century gothic, sans-serif;
  line-height: 6px;
}

.container p {
  font-family: century gothic, sans-serif;
  font-size: 16px;
  padding: 0px 0px 12px;
  line-height: 1.5;
}

.container li {
  font-family: century gothic, sans-serif;
  font-size: 16px;
  padding: 0px 0px 8px;
  color: #06908F;
}
